name: Build CloudStream Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Ensure gradlew is executable
        run: |
          ls -la
          chmod +x ./gradlew

      - name: Build Cloudstream Plugin
        run: ./gradlew make

      - name: Upload Cloudstream plugin artifact
        uses: actions/upload-artifact@v4
        with:
          name: cloudstream-plugin
          path: "**/*.cs3"
